<!doctype html>
    <head>
      <!-- Basic page needs ================================================== -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Title and description ================================================== -->
      <title>
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
      </title>

      {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
      {% endif %}

      <!-- Helpers ================================================== -->
      <link rel="canonical" href="{{ canonical_url }}">
      <meta name="theme-color" content="{{ settings.color_primary }}">

      <!-- CSS ================================================== -->
      {{ 'main.css' | asset_url | stylesheet_tag }} 

      <!-- Header hook for plugins ================================================== -->
      {{ content_for_header }}
{% include 'globo.filter.script' %} 

    <script>  
        window.Shopify = {
            queryParams: {
                sort_by: '{{ collection.sort_by | default: collection.default_sort_by | escape }}'
            }
        }
    </script>

      {% comment %}{{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' | script_tag }}{% endcomment %}
    </head>
    <body id="{{ page_title | handle }}" class="gf-left swatch-round template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

        {% include 'header' %}

        {{ content_for_layout }}

        {% include 'footer' %}

        <script src="{{ 'app.js' | asset_url }}"></script>
    </body>
</html>
