<div class="collection">

    <header>
        <div class="container">
            <div class="collection__actions">
                <button class="filter__toggle">Filter</button>
                <button class="sort__toggle">Sort</button>
                <div class="collection__sort">
                    <form class="inner-container">
                        <div>
                            <input id="manual" name="sort" type="radio" value="manual" checked>
                            <label for="manual">Featured</label>
                        </div>
                        <div>
                            <input id="price-ascending" name="sort" type="radio" value="price-ascending">
                            <label for="price-ascending">Price: Low to High</label>
                        </div>
                        <div>
                            <input id="price-descending" name="sort" type="radio" value="price-descending">
                            <label for="price-descending">Price: High to Low</label>
                        </div>
                        <div>
                            <input id="title-ascending" name="sort" type="radio" value="title-ascending">
                            <label for="title-ascending">A-Z</label>
                        </div>
                        <div>
                            <input id="title-descending" name="sort" type="radio" value="title-descending">
                            <label for="title-descending">Z-A</label>
                        </div>
                        <div>
                            <input id="created-ascending" name="sort" type="radio" value="created-ascending">
                            <label for="created-ascending">Oldest to Newest</label>
                        </div>
                        <div>
                            <input id="created-descending" name="sort" type="radio" value="created-descending">
                            <label for="created-descending">Newest to Oldest</label>
                        </div>
                        <div>
                            <input id="best-selling" name="sort" type="radio" value="best-selling">
                            <label for="best-selling">Best Selling</label>
                        </div>
                    </form>
                    <button class="sort__close">View Items</button>
                </div>
                <div class="collection__filter">
                    <form class="inner-container">
                        {% comment %}<div class="category">
                            <h5>Product Type</h5>
                            {% for type in collection.all_types %}
                                <div>
                                    <input id="{{ type }}" type="checkbox" name="type" value="{{ type }}"> 
                                    <label for="{{ type }}">{{ type }}</label>
                                </div>
                            {% endfor %}
                        </div> {% endcomment %}
                    </form>  
                    <button class="filter__close"></button>
                </div> 
            </div>
        </div>

        <h1>{{ collection.title }}</h1>
    </header>

    <div class="container narrow">
        <ul class="collection__products">
            {% for product in collection.products %}
                <li class="collection-product">
                    <a href="{{ product.url }}" class="collection-product__image">
                        <img src="{{ product | img_url: '400x' }}" alt="{{ product.title }}">
                        <img src="{{ product.images[1] | img_url: '400x' }}" alt="{{ product.title }}">

                        <div class="collection-product__sizes">
                            {% for option in product.options_with_values %}
                                {% for value in option.values %}
                                    <span>{{ value }}</span>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </a>
                    <div class="collection-product__brand">
                        {{ product.vendor }}
                    </div>
                    <a href="{{ product.url }}">
                        <div class="collection-product__title">
                            {{ product.title }}
                        </div>
                    </a>
                    <div class="collection-product__price">
                        {{ product.price | money }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
